

config/spring/*


config/node/*


data/*
!data/.gitkeep
box/*
!box/.gitkeep


judge0/*
!judge0/.gitkeep

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
docker-compose.override.yml